@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Julius+Sans+One&family=Megrim&family=Paytone+One&family=Permanent+Marker&display=swap');


body, html{
/*deletes space on sides and top*/
  margin: 0px;
  padding: 0px; 
/*  background-color: #f9f4eb;*/
  /* background-color: #ede0d4; */
  background-color:#b8a1ce;

/*  box-sizing: border-box;*/
}

* {
  box-sizing: border-box;
}

.logo{
  margin-left: 40px;
  align-content: center;
  cursor: pointer;
  transition: 0.15s; 
  height: 70%;
  margin-top: 12px;
}



.header{
  height: 80px;
  width: 100%; 

  background-color: #ede0d4;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding:0;
  margin: 0; 
  ;

 border-style:solid;
 border-top: #ede0d4;
 border-left: #ede0d4;
 border-right: #ede0d4;

}

.header_buttons{
   display: flex;
   flex-direction: row;
/*   width: 10vw;*/
   justify-content: center; 
   align-items: center; 
/*   padding-left: 10px;*/
   margin-top: -55px;
   padding-right: 10px;

}

.programs_container, .gallery_container, .contact_container, 
.about_container,.home_container{
  display: flex;
  flex-direction: row;
/*  width: 10vw;*/
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
  margin-top: 55px;
/*  margin-left: 20px; */
 
}


/*OTHER LINK*/
.link2{
  text-decoration: none;
  color: #dc4d3c; 
  transition: 0.15;
  font-family: outfit;

}



.link{
  text-decoration: none;
  color: black; 
  transition: 0.15;
  font-family: outfit;



}

.link:hover{
  color: #dc4d3c;
}



.main-img{
  width: 100vw;
  border-radius: 60px;
  overflow-x: hidden;
}




.heading{

  font-size: 35px;
  font-family: outfit;
  font-weight: 400;
  color:  black;
  font-style: italic;
  padding-left: 150px;
  padding-right: 100px;
  padding-top: 10vh;
 

}


.about-us{
    padding-top: 100px;
    padding-bottom: 100px;
   
    
}

.our-story{
    margin-left: 30%;
    /* margin-right: 50%; */
    padding-right: 0px;
    padding-left: 0px;
    width: 45vw;
    height: 27vh;
    padding-bottom: 50px;
   
}

.our-story2{
    margin-left: 30%;
    /* margin-right: 50%; */
    padding-right: 0px;
    padding-left: 0px;
    width: 43vw;
    height: 22vh;
    padding-bottom: 50px;

}





.text{
    margin-top: -30px;
    font-family: outfit;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 25px;
    font-weight:200;
    text-align: center;
}








/* -------------- */






/*Media Queries*/

/* 1st is max width 390 */

/* 1. Min width = 390px , max width = 406px

2. Min width = 406px, max width = 420px 

3. Min width = 420px, max width = 430px

4. Min width = 430px, max width = 600px

5. Min width = 600px, max width = 670px

6. Min width = 670px, max width = 750px 

7. Min width = 750px, max width = 768px 

8. Min width = 768px, max width = 800px 

9. Min width = 800px, max width = 850px 

10. Min width = 850px, max width = 912px 

11. Min width = 912px, max width = 1024px 

12. Min width = 1024px, max width = 1312px  */




@media only screen and (max-width: 390px){

  
  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 27%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 10%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    width: 130vw;
    height: 22vh;
    padding-bottom: 50px;

  }

  

  .text{

    margin-left: 55%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 30px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;



  }


}



@media only screen and (min-width: 390px) and (max-width: 420px){

   
  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 27%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 10%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    width: 130vw;
    height: 22vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 55%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 30px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }



}



/* IPHONE 14+ */
@media only screen and (min-width: 420px) and (max-width: 430px){

  
  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 30%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 10%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    width: 130vw;
    height: 22vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 55%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 30px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }


}



/* filler */
@media only screen and (min-width: 430px) and (max-width: 670px){

  
  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 33%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 10%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    width: 130vw;
    height: 22vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 55%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 30px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }


}


/* filler */
@media only screen and (min-width: 670px) and (max-width: 768px){

  
  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 36%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 10%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    margin-left: 40%;
    width: 120vw;
    height: 25vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 56%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 30px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }


}




/* IPAD MINI: */
@media only screen and (min-width: 768px) and (max-width: 800px){

  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 37%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 5%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    margin-left: 40%;
    width: 120vw;
    height: 35vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 56%;
    margin-top: -30px;
    font-family: outfit;
    padding: 0 10px; /* Adjust the padding for better alignment */
    font-size: 35px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 85%;
  }



}



/* IPAD AIR: */
@media only screen and (min-width: 800px) and (max-width: 912px){

  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 28%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 2%;
    width: 200%;
    height: auto;
  }


  .our-story, .our-story2{
    margin-left: 10%;
    width: 80vw;
    height: 20vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 10%;
    margin-top: -30px;
    font-family: outfit;
    padding: 10 80px; /* Adjust the padding for better alignment */
    font-size: 35px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }



}



/* IPAD PRO: */
@media only screen and (min-width: 912px) and (max-width: 1024px){

  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 30%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 2%;
    width: 100%;
    height: auto;
  }


  .our-story, .our-story2{
    margin-left: 12%;
    width: 75vw;
    height: 25vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 10%;
    margin-top: -30px;
    font-family: outfit;
    padding: 10 80px; /* Adjust the padding for better alignment */
    font-size: 35px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }



}



/* REST */
@media only screen and (min-width: 1024px) and (max-width: 1312px){

  .header {
    height: 60px;
  }

  .header_buttons {
    flex-direction: row;
    align-items:center;
    margin-top: 0;
    padding-right: 34%;


  }

  .logo{
    display: none;
  }

  .programs_container, .gallery_container, .contact_container, 
  .about_container, .home_container {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .main-img {
    margin-top: 2%;
    width: 100%;
    height: auto;
  }


  .our-story, .our-story2{
    margin-left: 12%;
    width: 75vw;
    height: 28vh;
    padding-bottom: 50px;

  }

  
  .text{
    margin-left: 10%;
    margin-top: -30px;
    font-family: outfit;
    padding: 10 80px; /* Adjust the padding for better alignment */
    font-size: 35px; /* Adjust font-size for better readability */
    font-weight: 200;
    text-align: center;
    /* USE WIDTH TO ADJUST TEXT (NOT MAKE IT TOO SKINNY/WIDE) */
    width: 80%;
  }



}






























